

//заголовки
.h1 {
    @include fluid-text(64, 24, 1.4); // 140%
    color: $white;
    font-weight: 800;
}

.h2 {
    @include fluid-text(40, 24, 1.3); // 120%
    color: $dark;
    font-weight: 600;
}

.h3 {
    @include fluid-text(30, 16, 1.4); // 120%
    font-weight: 700;
}
.h3-2 {
    @include fluid-text(30, 24, 1.2);
    font-weight: 600;
}

.h4 {
    @include fluid-text(18, 16, 1.4); // 130%
    font-weight: 400;
}

.h5 {
    @include fluid-text(16, 16, 1.3); // 130%
}

.h6 {
    @include fluid-text(14, 14, 1.3); // 130%
}

.bold {
    font-weight: 700;
}
